<% content_for :title, "Editing bow sign" %>

<h1>Editing bow sign</h1>

<%= render "form", bow_sign: @bow_sign %>

<br>

<div>
  <%= link_to "Show this bow sign", @bow_sign %> |
  <%= link_to "Back to bow signs", bow_signs_path %>
</div>
