<% content_for :title, "Editing bow precise location" %>

<h1>Editing bow precise location</h1>

<%= render "form", bow_precise_location: @bow_precise_location %>

<br>

<div>
  <%= link_to "Show this bow precise location", @bow_precise_location %> |
  <%= link_to "Back to bow precise locations", bow_precise_locations_path %>
</div>
