<% content_for :title, "New bow technique" %>

<h1>New bow technique</h1>

<%= render "form", bow_technique: @bow_technique %>

<br>

<div>
  <%= link_to "Back to bow techniques", bow_techniques_path %>
</div>
