<% content_for :title, "Editing focu" %>

<h1>Editing focu</h1>

<%= render "form", focu: @focu %>

<br>

<div>
  <%= link_to "Show this focu", @focu %> |
  <%= link_to "Back to focus", focus_path %>
</div>
