<p style="color: green"><%= notice %></p>

<% content_for :title, "Focus" %>

<h1>Focus</h1>

<div id="focus">
  <% @focus.each do |focu| %>
    <%= render focu %>
    <p>
      <%= link_to "Show this focu", focu %>
    </p>
  <% end %>
</div>

<%= link_to "New focu", new_focu_path %>
