<% content_for :title, "Editing finger restraint" %>

<h1>Editing finger restraint</h1>

<%= render "form", finger_restraint: @finger_restraint %>

<br>

<div>
  <%= link_to "Show this finger restraint", @finger_restraint %> |
  <%= link_to "Back to finger restraints", finger_restraints_path %>
</div>
