<% content_for :title, "New finger restraint" %>

<h1>New finger restraint</h1>

<%= render "form", finger_restraint: @finger_restraint %>

<br>

<div>
  <%= link_to "Back to finger restraints", finger_restraints_path %>
</div>
