<% content_for :title, "Editing modificateur" %>

<h1>Editing modificateur</h1>

<%= render "form", modificateur: @modificateur %>

<br>

<div>
  <%= link_to "Show this modificateur", @modificateur %> |
  <%= link_to "Back to modificateurs", modificateurs_path %>
</div>
