<% content_for :title, "New modificateur" %>

<h1>New modificateur</h1>

<%= render "form", modificateur: @modificateur %>

<br>

<div>
  <%= link_to "Back to modificateurs", modificateurs_path %>
</div>
