<% content_for :title, "Editing harmonique nature" %>

<h1>Editing harmonique nature</h1>

<%= render "form", harmonique_nature: @harmonique_nature %>

<br>

<div>
  <%= link_to "Show this harmonique nature", @harmonique_nature %> |
  <%= link_to "Back to harmonique natures", harmonique_natures_path %>
</div>
