<p style="color: green"><%= notice %></p>

<% content_for :title, "Harmonique natures" %>

<h1>Harmonique natures</h1>

<div id="harmonique_natures">
  <% @harmonique_natures.each do |harmonique_nature| %>
    <%= render harmonique_nature %>
    <p>
      <%= link_to "Show this harmonique nature", harmonique_nature %>
    </p>
  <% end %>
</div>

<%= link_to "New harmonique nature", new_harmonique_nature_path %>
