<% content_for :title, "New harmonique nature" %>

<h1>New harmonique nature</h1>

<%= render "form", harmonique_nature: @harmonique_nature %>

<br>

<div>
  <%= link_to "Back to harmonique natures", harmonique_natures_path %>
</div>
