<% content_for :title, "Editing intervalle" %>

<h1>Editing intervalle</h1>

<%= render "form", intervalle: @intervalle %>

<br>

<div>
  <%= link_to "Show this intervalle", @intervalle %> |
  <%= link_to "Back to intervalles", intervalles_path %>
</div>
