<p style="color: green"><%= notice %></p>

<% content_for :title, "Bow locations" %>

<h1>Bow locations</h1>

<div id="bow_locations">
  <% @bow_locations.each do |bow_location| %>
    <%= render bow_location %>
    <p>
      <%= link_to "Show this bow location", bow_location %>
    </p>
  <% end %>
</div>

<%= link_to "New bow location", new_bow_location_path %>
