<% content_for :title, "New bow location" %>

<h1>New bow location</h1>

<%= render "form", bow_location: @bow_location %>

<br>

<div>
  <%= link_to "Back to bow locations", bow_locations_path %>
</div>
