<% content_for :title, "Editing nuance" %>

<h1>Editing nuance</h1>

<%= render "form", nuance: @nuance %>

<br>

<div>
  <%= link_to "Show this nuance", @nuance %> |
  <%= link_to "Back to nuances", nuances_path %>
</div>
