<p style="color: green"><%= notice %></p>

<% content_for :title, "Musical phrasings" %>

<h1>Musical phrasings</h1>

<div id="musical_phrasings">
  <% @musical_phrasings.each do |musical_phrasing| %>
    <%= render musical_phrasing %>
    <p>
      <%= link_to "Show this musical phrasing", musical_phrasing %>
    </p>
  <% end %>
</div>

<%= link_to "New musical phrasing", new_musical_phrasing_path %>
