<% content_for :title, "New musical phrasing" %>

<h1>New musical phrasing</h1>

<%= render "form", musical_phrasing: @musical_phrasing %>

<br>

<div>
  <%= link_to "Back to musical phrasings", musical_phrasings_path %>
</div>
