<% content_for :title, "New measure unit" %>

<h1>New measure unit</h1>

<%= render "form", measure_unit: @measure_unit %>

<br>

<div>
  <%= link_to "Back to measure units", measure_units_path %>
</div>
