<% content_for :title, "Editing rhythmic type" %>

<h1>Editing rhythmic type</h1>

<%= render "form", rhythmic_type: @rhythmic_type %>

<br>

<div>
  <%= link_to "Show this rhythmic type", @rhythmic_type %> |
  <%= link_to "Back to rhythmic types", rhythmic_types_path %>
</div>
