<% content_for :title, "New rhythmic type" %>

<h1>New rhythmic type</h1>

<%= render "form", rhythmic_type: @rhythmic_type %>

<br>

<div>
  <%= link_to "Back to rhythmic types", rhythmic_types_path %>
</div>
