<% content_for :title, "Editing left hand technique" %>

<h1>Editing left hand technique</h1>

<%= render "form", left_hand_technique: @left_hand_technique %>

<br>

<div>
  <%= link_to "Show this left hand technique", @left_hand_technique %> |
  <%= link_to "Back to left hand techniques", left_hand_techniques_path %>
</div>
