<% content_for :title, "New left hand technique" %>

<h1>New left hand technique</h1>

<%= render "form", left_hand_technique: @left_hand_technique %>

<br>

<div>
  <%= link_to "Back to left hand techniques", left_hand_techniques_path %>
</div>
