<% content_for :title, "New bow articulation" %>

<h1>New bow articulation</h1>

<%= render "form", bow_articulation: @bow_articulation %>

<br>

<div>
  <%= link_to "Back to bow articulations", bow_articulations_path %>
</div>
