<% content_for :title, "Editing type accord" %>

<h1>Editing type accord</h1>

<%= render "form", type_accord: @type_accord %>

<br>

<div>
  <%= link_to "Show this type accord", @type_accord %> |
  <%= link_to "Back to type accords", type_accords_path %>
</div>
